
body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Papyrus, Courier New, Courier, monospace;
    background-image: url("background.jpg");
    background-size: contain;
    background-color: brown;
    height: 100vh;
    width: 100vh;
}


.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-shadow: 3px 3px 10px red;
    background: #290025;
    color: gold;
    border-bottom: 6px solid #d8cefe;
    border-radius: 20px;
 

    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover{
    background: #290025;
    color: gold;
}
.avatar:hover{
    width:200px;
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

